Xml/XSDExamples/employee.xsd

<schema targetNamespace="http://employeeinfo.com"
		xmlns="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified">
	<element name="employee">
		<complexType>
			<sequence>
				<element name="empno" type="int" />
				<element name="name" type="string" />
				<element name="salary" type="double" />
			</sequence>
		</complexType>

	</element>
</schema>